.slide-container{
  margin: 2rem 0;
  width: 100%;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  overflow: hidden;
}
.slider-style{
  height: 100%;
}

/* ------ arrow ----- */
.container-arrow {
  display: flex;
  justify-content: end;
  margin: 4rem 0;
  gap: 1rem;
}
.arrow {
  border: 1px solid #000000;
  padding: 6px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.arrow:hover{
border: 1px solid #690B0B;
}

.arrow svg{
  fill: #000000; 
};
.arrow svg:hover {
  fill: #690B0B;
}
 
.arrow--right{
  transform: scale(-1,1);
  transform-origin: center;
}

.container-dots{
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.dot{
  height: 8px;
  width: 8px;
  background-color: grey;
  border-radius: 50px;
  margin: 0 4px;
  cursor: pointer;
}
.dot:hover{
  background-color: #690B0B;
}
.dot--current {
  background-color: #690B0B;
}
 .icon--grey svg{
fill: grey;
 }
.icon--black svg {
  fill: #000000;
}
.icon--bordo svg {
  fill: #690B0B;
}
