@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root{
  --color-white: #ffffff;
  --color-light-grey: #EDECEC;
  --color-grey: #AEADAD;
  --color-black: #000000;
  --color-bordo: #690B0B;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.main {
  padding: 4rem 6rem;
  background-color: var(--color-light-grey);
 
}
.container{
width: 90%;
margin: 0 auto;
}

.filter-block{
  display: flex;
  margin: 1.5rem 0;
}
/* -------- card -------- */
.card{
  height: 338px;
  width: 270px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-white);
  justify-content: flex-end;
  position: relative;
}
.card__title{
  font-size: 26px;
  padding-bottom: 4px;
  /* line-height: 31px; */
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__title:hover{
  background-color: var(--color-white);
  display: block;
  overflow: visible;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: .6s ease;
  box-shadow: 0 10px 10px var(--color-white);
}

.card__type{
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 14px 0;
}
.card__image-box{
  width: 270px;
  height: 240px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__btn-container{
  display: flex;
  justify-content: space-evenly;
}
/* -------- btn -------- */
.card__btn {
  border: none;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
  width: 6rem;
  color: var(--color-black);
  background-color: #ffffff00;
  padding: 14px 0;
}

.card__btn:hover{
  color: var(--color-bordo);
}

.icon--black svg{
  fill:var(--color-black);
}
.icon--bordo svg{
  fill: var(--color-bordo);
}

.check-btn {
  display: flex;
  border-style: none;
  background-color: #ffffff00;
  align-items: center;
  padding-right: 14px;
  margin: 14px 0;
}

.check-div{
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  background-color: var(--color-grey);
  margin-right: 14px;
}

.check-div--bordo{
  background-color: var(--color-bordo);
}
.check-div--grey {
  background-color: var(--color-grey);
}
.check-btn__title{
  font-size: 16px;
  font-weight: 600;
}